.head{
    padding: 12px;
    font-size: 30px;
    background-color: black;
    color: white;
}
.home {
    background-color: rgb(225, 226, 230);
}
.MuiBox-root{
    color: black;
}

d{
    background-color: rgb(66, 66, 70);
}